# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=c7ab90cacca1e0cfe59cbca4ec4cfa52
###< symfony/framework-bundle ###

FEE_PRECISION=2

DEPOSIT_PERCENT_FEE=0.03

WITHDRAW_FEE_FOR_PRIVATE_CLIENT=0.3
WITHDRAW_FEE_FOR_BUSINESS_CLIENT=0.5

PRIVATE_CLIENT_FREE_AMOUNT=1000
PRIVATE_CLIENT_FREE_WITHDRAWS=3

CURRENCY_EXCHANGE_API_URL='https://developers.paysera.com/tasks/api/currency-exchange-rates'

DEFAULT_CURRENCY='EUR'

DEFAULT_RATES_MODE=1
DEFAULT_RATES_FILE_PATH=default-rates.json